body {
padding-top: 50px;
background-image: url('../images/hero_image.jpg');
-webkit-background-size: cover;           /* Safari 3.0 */
-moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
-o-background-size: cover;           /* Opera 9.5 */
background-size: cover; 
}

.jumbotron{
text-align: center;
color: white;
margin-bottom: 0;
background-color: transparent;
  
}
.btn-lg {
font-size:36px;
}
.jumbotron h1 {
font-family: 'Arvo', courier, serif;
margin-top:0px;
margin-bottom: 50px;
}
.jumbotron p {
margin-bottom: 30px;
font-weight: 100;
padding: 0 50px;
}
ul.nav {
font-family: 'Arvo', courier, serif;
}
ul.nav {
font-size:13px;
}
